""" if we performed an operation on the database other 
than sending queries, we need to commit those 
changes via the .commit() method before we close the connection"""
conn.commit()
conn.close()
# after every transaction that modifies data for tables

In [ ]:
"""cursor object is our interface to the database 
that allows running any SQL query on our database"""

"""even of database doesnot exist it will create that and 
database object will be returned"""

import sqlite3
conn= sqlite3.connect('my_database.sqlite')
cursor=conn.cursor()
print("OPENED DATABASE SUCCESSFULLY")

#close the connection via .close() method
conn.close()

CREATING A TABLE

In [ ]:
cursor.execute('''CREATE TABLE SCHOOL
    (ID INT PRIMARY KEY NOT NULL,
    NAME     TEXT NOT NULL,
    AGE INT NOT NULL,
    ADDRESS CHAR(50),
    MARKS INT);''')
cursor.close()
#cursor.execute executes the SQL statement
#created a table called school abd the fields

#INSERTING RECORDS IN THE TABLE

In [ ]:

import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (1, 'rab', 14, 'X', 200)");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (2, 'Allen', 14, 'Y', 150 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (3, 'Martha', 15, 'Z', 200 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (4, 'Palak', 15, 'W', 650)");
conn.commit()
conn.close()

# SELECTING records from the TABLE

In [ ]:
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
for row in cursor.execute("SELECT id, name, marks from SCHOOL"):
    print("ID = ", row[0])#(id,name,marks)
    print("NAME = ", row[1])
    print("MARKS = ", row[2], "\n")
conn.commit()
conn.close()

# UPDATING RECORDS IN THE TABLE

In [ ]:
import sqlite3
conn=sqlite3.connect("my_database.sqlite")
cursor=conn.cursor()
cursor.execute("UPDATE SCHOOL set MARKS=250 where ID=3")
conn.commit()

for row in cursor.execute("SELECT id, name, address, marks from SCHOOL"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS =",row[2])
    print("MARKS = ", row[3], "\n")
conn.commit()
conn.close()

# DELETE OPERATION

In [ ]:
import sqlite3
conn=sqlite3.connect("my_database.sqlite")
cursor=conn.cursor()
conn.execute("DELETE from SCHOOL where ID=2")

conn.commit()

for row in cursor.execute("SELECT id,name,address,marks from SCHOOL"):
    print("ID=",row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])   
    print("MARKS = ", row[3], "\n")
conn.commit()
conn.close()

In [1]:
x=20
import sqlite3
conn=sqlite3.connect("my_database.sqlite")
cursor=conn.cursor()
cursor.execute("UPDATE SCHOOL set MARKS=? where ID=3",(x,))
conn.commit()

for row in cursor.execute("SELECT id, name, address, marks from SCHOOL"):
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS =",row[2])
    print("MARKS = ", row[3], "\n")
conn.commit()
conn.close()

ID =  1
NAME =  rab
ADDRESS = X
MARKS =  200

ID =  3
NAME =  Martha
ADDRESS = Z
MARKS =  20

ID =  4
NAME =  Palak
ADDRESS = W
MARKS =  650

ID =  9
NAME =  ROB
ADDRESS = PHULBAR
MARKS =  55

ID =  6
NAME =  Rew
ADDRESS = Z
MARKS =  400

INSERTING VARIABLE
sqlite uses % or ? 
mySql uses %s

In [16]:
x1=6
x2="Rew"
x3=20
x4="Z"
x5=400
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (?, ?, ?, ?, ?)",(x1,x2,x3,x4,x5));
#cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
     # VALUES (6, 'rab', ?, 'X', 200)",(x3));
conn.commit()
conn.close()

In [18]:
import sqlite3
conn=sqlite3.connect("my_database.sqlite")
cursor=conn.cursor()
for row in cursor.execute("SELECT * FROM SCHOOL"):
    print("id",row[0])
    print("name",row[2])
conn.commit()
conn.close()

id 1
name 14
id 3
name 15
id 4
name 15
id 9
name 16
id 6
name 20

In [1]:
x=6
import sqlite3
conn = sqlite3.connect('my_database.sqlite')
cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (?, ?, ?, ?, ?)",(x1,x2,x3,x4,x5));
#cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
     # VALUES (6, 'rab', ?, 'X', 200)",(x3));
conn.commit()
conn.close()

NameError: name 'x1' is not defined

In [2]:
a=1
print(f"""{a}""")

1

# DATE TIME #

In [1]:
import sqlite3
con = sqlite3.connect("demo.db")
cur = con.cursor()

In [14]:
cur.execute("INSERT INTO datetime_text (d1,d2) VALUES(datetime('now','localtime'),datetime('now'))")
con.commit()

In [19]:
con.close()

In [16]:
for row in cur.execute("SELECT * FROM datetime_text"):
    print(row[0]+" "+row[1])

2019-10-09 02:57:23 2019-10-09 08:42:23
2019-10-09 03:01:13 2019-10-09 08:46:13
2019-10-09 08:53:54 2019-10-09 03:08:54
2019-10-09 09:28:54 2019-10-09 03:43:54
2019-10-10 09:40:38 2019-10-10 03:55:38
2019-10-11 09:40:58 2019-10-11 03:55:58
2019-10-13 09:41:18 2019-10-13 03:56:18

### IF the below code doesnot work try using "`" i.e `d1`
other option is this 
select * from mytable where `date` >= '2014-10-09' and `date` <= '2014-10-10'

In [19]:
for row in cur.execute("SELECT * FROM datetime_text WHERE d1 BETWEEN '2019-10-09' AND '2019-10-13' "):
    print(row[0])

2019-10-09 02:57:23
2019-10-09 03:01:13
2019-10-09 08:53:54
2019-10-09 09:28:54
2019-10-10 09:40:38
2019-10-11 09:40:58