SQL ALCHEMY

Engine:common interface to the database from SQLAlchemy
Connection string :All the details required to find the database(and login,if necessary)
sqlite opened in command prompt

SQLITE
opened in cmd
-to exit .quit
-to create sqlite3 mydb.db yeti gara ra file chai dekhinna
    inorder to view this database we can do it by two commands
    1).databases
    2) table banara
         * create table student (id INT primary key);
         to view the table
         *.tables
         to view table schema 
         .schema students
         
         
code:
create table "STUDENT1"(
Id Int,
 Name Varchar,
   Age INT);
   .save firstdb.sqlite
----)insertion ko lai
insert into student1(Id,Name,Age) values(98,"SHRISH","PHULBARI");

 ----)deletion ko lai
drop table student;

 ----)You can use "ALTER TABLE" command to rename a table as follows:
    alter table student rename to student1
    
---)You can also use the "ALTER TABLE" command to add columns:
alter table student add column AGE INT

----)default value halna ko lai 
INSERT INTO Tablename DEFAULT VALUES;

To see what the tables are

In [32]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///firstdb1.sqlite')
print(engine.table_names())

['STUDENT1']

In [36]:
print(engine.scalar)

<bound method Engine.scalar of Engine(sqlite:///firstdb1.sqlite)>

In [25]:
#we need an engine o connect with a database
#create an engine
from sqlalchemy import create_engine
#provide the connection string that provides the detail
engine = create_engine('sqlite:///firstdb1.sqlite')
                        #[driver+dialect]  current directory ma vako file ko name
#making connection 
connection = engine.connect()
#it wont connect unless we give any load

RELFECTION
   it reads database and builds SQLALCHEMY TABLE OBJECTS

In [31]:
from sqlalchemy import MetaData,Table
metadata=MetaData()
Age=Table('Age',metadata,autoload=True,autoload_with=engine)

NoSuchTableError: Age

In [20]:
import sqlite3

In [21]:
sqlite3

In [23]:
sqlite3 create TABLE;

SyntaxError: invalid syntax (<ipython-input-23-89d5d9ae7822>, line 1)

In [37]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [38]:
database="firstdb1.sqlite"
connection = sql.connect(database)

In [46]:
query='''SELECT * STUDENT'''

In [44]:
df=pd.read_sql_query(query,connection)
df.head()

DatabaseError: Execution failed on sql 'SELECT * firstdb1.sqlite3': near "firstdb1": syntax error